<ion-content>
  <ion-header style="margin-bottom: 25px;">
    <ion-toolbar color="primary">
      <ion-title>Coronavirus  Raspberry</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="align-center">
    <div class="security-space-vertical">
      <ion-label class="bold-text">Launch Raspberry Program </ion-label>
    </div>
    <div>
      <ion-toggle class="toggle-app" [(ngModel)]="switchState" (click)="switchProgramState()"></ion-toggle>
    </div>
  </div>
  <ion-list>
    <ion-list-header>
      <ion-label>Recognized user</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let user of allUsers">
      <ion-icon name="lock-closed" *ngIf="!user.accept_modify_account; else unlock"></ion-icon>
      <ng-template #unlock>
      <ion-icon name="lock-open-outline"></ion-icon>
      </ng-template>
      <ion-label>{{user.name}}</ion-label>
      <ion-button side="end" fill="clear" (click)="goToUserEdit(user)">
        <ion-icon color="primary" name="pencil"></ion-icon>
      </ion-button>
      <ion-button side="end" fill="clear" (click)="deleteUser(user)">
        <ion-icon color="danger" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <div>
  <ion-fab horizontal="center" style="margin-top: 25px; margin-bottom: 25px">
    <ion-fab-button (click)="goToUserEdit('new-user')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </div>
</ion-content>